body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #202020;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 500px;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px #000;
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #ffcc00;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select,
input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ffcc00;
    color: #000;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e6b800;
}

#resultSection {
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}
